{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'labPortalHome/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-icons/css/bootstrap-icons.css' %}">    
    <style>
        section {
            padding: 60px 0;
        }
    </style>
</head>

<body>
    <!-- Navbar starts -->
    <nav class="navbar navbar-expand-lg bg-light border-bottom border-body" data-bs-theme="light">
        <div class="container">
            <a href="{% url '' %}" class="navbar-brand">
                {% bs_icon 'laptop' size='1em' extra_classes="bi-valign-default" %} &nbsp;
                Lab Portal
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-end mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url '' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab-rules' %}">Lab-rules</a>
                    </li>
                    <li class="nav-item">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Launch Vision Mission
                        </button>
                    
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-danger text-center">
                                <h1 class="modal-title w-100 fs-5 text-light " id="staticBackdropLabel">Department of Computer Science</h1>                                
                                </div>
                                <div class="modal-body">
                             
                                <div>
                                    <h2 class="text-center w-100 text-danger h3">
                                        &nbsp; &nbsp; 
                                        {% bs_icon 'eye-fill' size='1em' extra_classes="bi-valign-default" %}                                        
                                        Vision
                                    </h2>
                                    <p class="lead text-justify">
                                        To excel in computer science education and research, by prepairing the students with practical
                                        knowledge and ethical values. We strive to empower students, enabling them to innovate using 
                                        cutting-edge computing technologies to address societal challenges.
                                    </p>
                                </div>

                                <hr>

                                <div>
                                    <h2 class="text-center w-100 text-danger h3">
                                        &nbsp; &nbsp; {% bs_icon 'arrow-down-left-circle-fill' size='1em' extra_classes="bi-valign-default" %}                                   
                                        Mission
                                    </h2>
                                    <ul>
                                        <li class="lead mb-2">Empower students with a strong foundation in computer science
                                            fundamentals and technical skills through innovative teaching pedagogies, fostering practical knowledge.
                                        </li>
                                        <li class="lead mb-2">
                                            Cultivate ethical values, creativity, and an entrepreneurial mind-set among students to inspire innovation.
                                        </li>
                                        <li class="lead mb-2">Encourage students to prioritize sustainable solutions that enhance societal well-being.</li>
                                        <li class="lead mb-2">Foster a culture of research excellence in computer science by promoting collaborative partnerships
                                            between academia and industry.
                                        </li>
                                    </ul>
                                </div>
                                
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Understood</button>                            
                                </div>
                            </div>
                            </div>
                        </div>                            
                    </li>                                       
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar ends-->

    {% block content %}

    {% endblock %}

    <!-- Footer section starts -->
    <div class="container-fluid bg-secondary text-light border-top">
        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Menu</h5>
                        <ul class="nav flex-column">                            
                            <li class="nav-item mb-2"><a class="link-light" href="{% url '' %}">Home</a></li>
                            <li class="nav-item mb-2"><a class="link-light" href="{% url 'lab-rules' %}">Lab-rules</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Blog Articles</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
                        </ul>
                    </div>

                    <div class="col-md offset-md-1 mb-3">
                        <form>
                            <h5>Subscribe to our newsletter</h5>
                            <p>Monthly digest of what's new and exciting from us.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn btn-primary" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>                

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>&copy; 2024 Lab Portal</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-body-emphasis text-light" href="#">{% bs_icon 'twitter-x' size='1em' extra_classes="bi-valign-default" %}</a></li>
                        <li class="ms-3"><a class="link-body-emphasis text-light" href="#">{% bs_icon 'facebook' size='1.2em' extra_classes="bi-valign-default" %}</a></li>
                        <li class="ms-3"><a class="link-body-emphasis text-light" href="#">{% bs_icon 'youtube' size='1.4em' extra_classes="bi-valign-default" %}</a></li>
                    </ul>
                </div>  
            </footer>
        </div>
    </div>

    <script src="{% static 'labPortalHome/js/bootstrap.bundle.min.js' %}"></script>        
</body>

</html>